/* classes required for footer */
html,body {
	margin: 0;
	height: 100%;
}

.body {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 30px; /* Height of the footer */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px; /* Height of the footer */
	background: #eee;
	text-align: center;
}

.footer-text {
	font-size: small;
	color: graytext;
	margin-left: 20px;
}
