<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<!-- Spring managed ServiceBeans -->
	<!-- bean ids must not clash with jaxws bean ids -->
	<bean id="userServiceBean" class="org.survey.user.service.UserServiceImpl" />
	<bean id="fileServiceBean" class="org.survey.file.service.FileServiceImpl" />
	<bean id="pollServiceBean" class="org.survey.poll.service.PollServiceImpl" />
	<!-- JAX-WS Service Endpoints -->
	<jaxws:endpoint id="userService" implementor="#userServiceBean"
		address="/soap/userService" />
	<jaxws:endpoint id="fileService" implementor="#fileServiceBean"
		address="/soap/fileService" />
	<jaxws:endpoint id="pollService" implementor="#pollServiceBean"
		address="/soap/pollService" />
</beans>