<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:user-service.xml" />
	<import resource="classpath:file-service.xml" />
	<import resource="classpath:poll-service.xml" />

	<!-- JAX-RS RESTful service -->
	<jaxrs:server id="userServiceRest" address="/rest">
		<jaxrs:serviceBeans>
			<ref bean="userServiceBean" />
			<ref bean="fileServiceBean" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<!-- Use Jackson instead of Jettison -->
			<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
</beans>